*{
	padding:0;
	margin:0;
}
body{
	font-family:"Segoue", sans-serif;
	line-height:1.6cm;
	color:#666;
	background:;
	font-size:14px;
	
	
}
a{
	color:#333;
	text-decoration:none;
	
	
	
	
}
#container{
	width:720px;
	background:#fff;
	margin:auto;
}
.clearfix{
	clear:both;
	
}
nav{
	float : right;
}
nav ul{
	float : right;
}
nav li{
	list-style:none;
	float : left;
	padding: 0 10px;
}
nav a {
	color: #fff;
	padding-bottom: 5px;
	
}
nav li.current a, nav a:hover{
	border-bottom:#03899c 3px solid;
	color:#03899c;
}


header{
	padding:30px 20px;
	
	background:#f4f4f4;
	
}
header h1{
	color:#000;
	margin-bottom:10px;
	
}
header span{
	color:#dd2826;
}
section{
	padding:30px 20px 20px 20px;
}
h2{
	color:#000;
	margin-bottom:10px;
	
}

footer{
	margin-top:650px;
	padding:20px;
	background:#f4f4f4;
	text-align:center;
	
}

#search-form{
	display:block;
	margin-top:20px;
	margin-bottom:20px;
	
}
.fieldcontainer{
	display:block;
	position:relative;
	
	width:90%;
	margin:10 auto;
	
}
#search-btn:hover{
	filter:alpha(opacity=90);
	opacity:0.9;
	
	
	
}
.search-field{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	display:block;
	
	width:45%;
	padding:11px 7px;
	padding-right:43px;
	background:#fff;
	color:#ccc;
	border:1px solid #c8c8c8;
	font-size:1.6cm;
	border-bottom-color:#d2e2e7;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1), 0 0 0 6px;
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1), 0 0 0 6px;
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.1), 0 0 0 6px;
	
}
#search-btn{
	position:absolute;
	right:360px;
	top:50px;
	height:32px;
	width:32px;
	border:0;
	cursor:pointer;
	zoom:1;
	filter:alpha(opacity=65);
	opacity:0.65;
	background:transparent url(https://cdn4.iconfinder.com/data/icons/apps-set-1/24/Search-01-20.png) top left no-repeat;
}
#search-btn:hover{
	filter:alpha(opacity=90);
	opacity:0.9;
}

#results li {
	padding:10px 0;
	border-bottom:1px #ccc dotted;
	list-style:none;
	overflow:auto;
	height:100px;
}
.list-left{
	float:left;
	width:20%;
}
.list-left img{
	width:100%;
	padding:3px;
	border:solid #ccc 1px;
	
	
}
.list-right{
	float:right;
	width:78%;
	

}
.cTitle{
	color:#dd2826;
	
}

.button-container{
	
	margin-top:25px;
}
.paging-button{
	background:#f4f4f4;
	padding:8px 13px;
	border:#ccc 1px solid;
	border-radius:5px;
	color:#333;
	margin:10px;
	cursor:pointer;
}
#gallery{
	list-style:none;
	margin:0;
		padding:0;
		width:100%
}
#gallery li{
	display:block;
	float:left;
	width:23%;
	cursor:pointer;
	border-radius:5px;
	
	box-sizing:border-box;
	margin:0 12px 7px 0;
	position:relative;
	
	
}
#gallery img{
	width:100%;
	
}
#tbl{
	display:none;
}
#slider {
    width: 720px;
    height: 400px;
    overflow: hidden;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}



	

td {
	border:  2px solid #333;
	height:  100px;
	width:  100px;
	text-align:  center;
	vertical-align:  middle;
	font-family:  "Comic Sans MS", cursive, sans-serif;
	font-size:  70px;
	cursor: pointer;
}

table {
	margin-top:25px;
	border-collapse: collapse;
	
	left: 50%;
	margin-left: 250px;
	top: 850px;
}

table tr:first-child td {
	border-top: 0;
}

table tr:last-child td {
	border-bottom: 0;
}

table tr td:first-child {
	border-left: 0;
}

table tr td:last-child {
	border-right: 0;
}

.endgame {
  display: none;
  width: 200px;
  top: 120px;
  background-color: rgba(205,133,63, 0.8);
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 2em;
}



#board{
	height:
	
}

#board td{
	border:  2px solid #333;
	
	
	margin:10px;
	height:120px;
	width:120px;
	font-size:55px;
	background:#333;
	color:#ccc;
	list-style:none;
	text-align:center;
	border-radius:5px;
	
	
	
}

#board td: hover{
	cursor:pointer;
	background:#000;
}

#reset{
	border:0;
	background:#444;
	color:#fff;
	width:70%;
	padding:15px;
	border-radius:5px;
	
	
}
.o{
	color:green ! important;
}
.x{
	color:red ! important;
}

.overlay{
	display:none;
	background:#03899c  ;
	color:#fff;
	position:absolute;
	
	top:0;
	left:0;
	z-index:100;
	width:100%;
	height:100%;
	padding:20px;
	border-radius:5px;
	box-sizing:border-box;
	pointer-events:none;

}
.overlay h3{
	
	margin:0;
	padding:0;
	
}